$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import 'https://fonts.googleapis.com/css?family=Cantarell:400i|Francois+One|Roboto';

$fran : 'Francois One', sans-serif;
$cant : 'Cantarell',sans-serif;
$robo : 'Roboto',sans-serif;


/*CSS RESET*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*END CSS RESET*/



.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;

 background:url(/images/pattern.svg)repeat, black;
 background-size:100%;
  
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


/*RAW CSS BEFORE RESPONSIVE*/





#deskMain {
  padding:0;
  #deskFirstDiv {
    height:100vh;
    
    padding:0;
    color:white;
     background:url(/images/nyc2.jpg) no-repeat;
     background-size:100% 100%;
      

    #deskPattern {
     background:url(/images/pattern.svg)repeat,rgba(0,0,0,0.2);
      height:100%;
     background-size:100% 100%;

     padding:0;
      #deskLogo {
     background: url(/images/titleLogo.png) no-repeat;
background-size: 100% 100%;
height: 84%;
position: relative;
top: 8%;
left: 2%;
      }

      #deskText {
       
        height:100%;
        padding:0;

        #deskMainText {
          position:relative;
          height:100%;
          top:60%;  
          padding:0;

        #deskName {
          background:url(/images/titleName.png)no-repeat;
          background-size:100% 100%;
          height:7%;
          float:right;
          margin-bottom:2%; 
              
        }

        #deskPosition{
          background:url(/images/titlePosition.png)no-repeat;
          background-size:100% 100%;
          height:4%;
          float:right;
        }

        }
      }


    }


  }
  #deskSecondDiv{
    height:40vh;
    background:white;

    #deskAbout{
      padding:1%;
      
      background:white;
      height:100%;

      #deskAboutTitle {
        font-size:2.0em;
        font-family:$fran;
      }

      #deskAboutTitle {
         height:100%;

         #deskAboutAbout {
            border-bottom:3px solid black;
            font-size:2.0em;

            
         }

         #deskAboutPic {
          background:url(/images/mainFace.jpg)no-repeat;
          background-size:cover;
          height:80%;
          opacity: 0.9;
         }
      }

      #deskAboutContent {
        font-family:$robo;
        
        line-height:1.2;

        #name{
          border-bottom:3px solid black;
          font-family:$fran;
          font-size:3.3em;
        }
        #content{
          font-size:1.3em;
        }
      }

    }
  }
  #deskThirdDiv{
    height:60vh;
   
      
    color:white;


    #deskSkillExp {
      
      height:100%;
      background:rgba(0,0,0,0.70);
      padding:2%;

      #expSwap {
        border:1px solid black;
        margin-bottom:2%;
        font-size:2.2em;
        font-family: $fran;
        padding:0;

        background:black;



        .expSwapClass {
          
          text-align:center;
          border:3px solid white;


        
          &:hover{
            background:white;
            color:black;
            cursor:pointer;
          }

        }
      }

      #deskSkills {
        
        padding:3%;

        .deskSkill {
          height:10vh;
          
          font-family:$robo;
          font-size:1.2em;
          font-weight:bold;

          .expBarName {
            border-bottom:3px solid white;
            margin-bottom:2%;
          }

          .expBarOut {
            padding:0;
            background:white;
            border:3px solid white;
            height:2.5vh;

            .expBarInner {
              height:100%;
              
/*GRADIENT*/

background: #4c4c4c; /* Old browsers */
background: -moz-linear-gradient(top, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
            }

          }
        }

      }

     #deskExp {
      height:80%;

       #deskExps {
        font-family:$robo;
        height:100%;


        .workOut {
          border-top:4px solid white;
          border-bottom:4px solid white;
          height:100%;
          padding:3%;
          padding-top:4%;

          #workName{
            border-bottom:1px solid white;
            margin-bottom:2%;
            font-size:2em;
            font-weight:bolder;
            font-family:$fran;
          }

          #workPosition{
            margin-bottom:1%;
            font-size:1.6em;
            font-family:$cant;
          }


          #workDates {
            margin-bottom:8%;
            padding:0;

            .workDate {
              font-size:1.2em;
            }
          }

          #workResp {
            padding:1%;

              #workRespon {
                margin-bottom:5%;
                font-size:1.4em;
              }


          }

        }


      }


     }




    }
  }
  #deskFourthDiv {
   
    background:white;
    font-family:$robo;

    #deskProject {
     
      height:100%;
      background:white;
      margin-bottom:2%;

     #deskProjectHead {
        padding:1%;
       #deskProjectHeader {
        border-bottom:3px solid black;
        font-size:4em;
        font-family: $fran;
      }

     }

      .projectMenu {
        
        display:inline;
        font-size:2.0em;
        cursor:pointer;
        font-family:$fran;
        text-align:left;
        padding:1%;
        margin-bottom:4%;
       ;
        &:hover{
          color:white;
          background:black;
        }
      }


      #deskProjectContent {
        font-family:$robo;
        #projectContentName{
          font-size:4.0em;
         
          padding:1%;
          text-align:center;
          border-bottom:3px solid black;
          font-family:$fran;
        }
        #projectContentLink{
          color:black;
          font-size:4.0em;
          padding:1%;
          border-bottom:3px solid black;
          font-family:$fran;
          text-align:center;

          #projectContentLinkContent{
            
          }

          #projectContentLinkContent:hover{
            text-decoration:none;
            background:black;
            color:white;
            height:100%;

          }
        }
      
        #projectContentText {
          
          padding:1%;
         
          .innerText{
            font-size:1.4em;
            margin-bottom:4%;
            line-height:1.2;

          }
          
        }
         #innerPic {
            height:30vh;
            margin-top:1%;

          }


      }


    }


  }

  #deskFifthDiv {
    
     font-family:$robo;
    color:white;



    #deskContact {
      height:100%;
      background:black;
      padding:1%;
      #deskContactHeader {
        #headerText{
          border-bottom:3px solid white;
           font-size:2.2em;
        font-family: $fran;
        }
      }
      #deskContactContent{
        position:relative;
        top:2%;
        padding:2%;
        #salesPitch {
          font-family:$fran;
          font-size:2.0em;

        }
        #salesLinks {
          margin-top:2%;

          a{
            color:white;
          }

          #linked{
            color:white;
            font-family:$fran;
            font-size:2.1em;
            cursor:pointer;

            #linkImg{
              height:10vh;
            }

          }
        }
      }


    }

  }
}

#mobileMain {
    padding:0;

    #mobileFirst{
      background:url(/images/nyc2.jpg)no-repeat;
      background-size:100% 100%;
      height:100vh;
      padding:0;

        #pattern {
          background:url(/images/pattern.svg)repeat,rgba(0,0,0,0.4);
          background-size:100% 100%;
          height:100%;
          padding:0;
          position:relative;
          z-index:10;

          #logo {
            height:70%;
            background:url(/images/titleLogo.png)no-repeat;
            background-size:contain;
            opacity:0.9;
            position:relative;
            z-index:11;
            top:20%;
            margin-bottom:2%;
          }
          #name{
            height:10%;
            background:url(/images/titleName.png)no-repeat;
            background-size:contain;
            float:right;

          }
          #position{
            height:20%;
            background:url(/images/titlePosition.png)no-repeat;
            background-size:contain;
          }
        }


    }

    #mobileSecond {
      background:#fff;
      height:100vh;
      padding:0;
      font-family:$robo;
      #aboutTitle{
        font-size:4em;
        font-family:$fran;
        border-bottom:5px solid black;

      }
      #aboutPic{
        background: url(/images/mainFace.jpg) no-repeat;
background-size: 120% 100%;
height: 42%;
float: right;
      }
      #aboutContent{
        font-size:1.5em;
        line-height:1.2;
      }



    }


    #mobileThird{
      background:rgba(0,0,0,0.8);
      height:100.5vh;
      color:white;
      padding:0;

      #swapSelection {
        padding-top:4%;
        margin-bottom:10%;
        div{
          border:3px solid white;
        font-family:$fran;
        font-size:2em;
        text-align:center;
        }
       
      }
       #mobileSkills {
          font-size:3em;
          font-family:$fran;
          
          .skiller{
            height:10vh;
            margin-bottom:5%;
           .name{
            border-bottom:3px solid white;
            margin-bottom:2%;
           }
            .skillBar{
              padding:0;
              height:40%;
              background:white;
              border:3px solid white;
              .bar{
                background:black;
                height:100%;
              }
            }
          } 
        }

        #mobileExp {
          
          font-family:$robo;
          padding:0;
          .working{
            margin-bottom:5%;
            padding:0;
            .workTop{
              padding:0;
              margin-bottom:2%;
               .workName{
              font-family:$fran;
              font-size:1.5em;
              border-bottom:3px solid white;
              margin-bottom:2%;
            }
              .workDate{
                font-family:$cant;
                font-size:1.3em;
                text-align:center;
              }
            }

            .workMid{
              margin-bottom:3%;
                .workPosition{
                  font-family:$fran;
                  font-size:1.5em;
                  margin-bottom:2%;
                }

                .workRespon{
                  font-size:1.1em;
                  .repond{
                    margin-bottom:1%;
                  }
                }
            }
          }
        }

    }

    #mobileFourth{
      height:100vh;
      background:#fff;

      #title {
        font-size:3em;
        border-bottom:4px solid black;
        font-family:$fran;
        padding-top:2%;
      }

      #menu {
        margin-top:3%;
        .projectMenu {
          height:5vh;
          padding:2%;
          border:3px solid black;
          font-family:$fran;
        }

      }

      #content {
        margin-top:3%;

        #name{
          font-size:2em;
          font-family:$fran;
          text-align:right;
          border-bottom:4px solid black;
        }
        #text{
          font-size:1em;
          line-height:1.1;
          height:30vh;
          padding-top:4%;
          margin-bottom:1%;
          .decs {

            margin-bottom:2%;
          }
        }
        #image {
          
          height:30vh;
          padding:2%;
            .img{
              height:100%;
              background-size:100% 100%;
              margin-bottom:5%;
            }
            #link {
              font-size:2em;
              font-family:$fran;

              a{
                color:black;


              }
            }
        }
      }

    }

    #mobileFifth {

      height:100vh;
      background:black;
      color:white;
      font-family:$robo;
      #title{
        font-family:$fran;
        font-size:3em;
        border-bottom:4px solid white;
        margin-bottom:4%;


      }

      #text {
        font-size:1.5em;
        margin-bottom:3%;

      }

      #contact {
       
        .sale {
          height:20vh;
          font-family:$fran;
          padding:0;
          a {
            color:white;
            height:100%;
            padding:0;

          .linkImage{
            height:100%;
          }
          .linkText {
            font-size:1.5em;
            padding-top:15%;
          }



          }


        }
      }


    }









}






.highLightBlack {
  background:white;
  color:black;

}
.highLightWhite {
  background:black;
  color:white;
}