<div id=''class=''style=''>

  <!-- DESKTOP -->
  <div id='deskMain'class='hidden-sm hidden-xs col-md-12 col-lg-12'style='padding:0;'>
     <div id='deskFirstDiv'class='col-md-12 col-lg-12'style=''>
      <div id='deskPattern'class='col-md-12 col-lg-12'style=''>
        
        <div id='deskLogo'class='col-md-8 col-lg-8'style=''>
        
        
        </div>
        <div id='deskText'class='col-md-4 col-lg-4'style=''>
          <div id='deskMainText'class='col-md-12 col-lg-12'style=''>
              <div id='deskName'class='col-md-10 col-lg-10'style=''>
          
          
          </div>
          <div id='deskPosition'class='col-md-8 col-lg-8'style=''>
          
          
          </div>
          
          </div>
        
        </div>
      
      </div>
     
     </div>
     <div id='deskSecondDiv'class='col-md-12 col-lg-12'style=''>
          <div id='deskAbout'class='col-md-10 col-lg-10 col-md-offset-1'style=''>
            <div id='deskAboutTitle'class='col-md-2 col-lg-2'style=''>
              <div id='deskAboutAbout'class='col-md-12 col-lg-12'style=''>
                <h3>About</h3>
              
              </div>
              <div id='deskAboutPic'class='col-md-12 col-lg-12'style=''>
              
              
              </div>
            
            </div>
            <div id='deskAboutContent'class='col-md-8 col-lg-8 col-md-offset-1 col-lg-offset-1'style=''>
              
              <p id='name'>Oscar Medrano</p>

              <br>
              <div id='content'class=''style=''>
                 <p>Solving problems using creative solutions is something I excel at.<br><br>

                  I am able to write in JavaScript, read CSS with ease, repair your computer with no hesitation, all while playing Eruption on one of my several guitars. <br><br>

                  I am also familiar with frameworks such as AngularJS, Ember, NodeJS, and Rails.

                  </p>

              
              
              </div>


            
            </div>
            
          
          </div>
     
     </div>
     <div id='deskThirdDiv'class='col-md-12 col-lg-12'style=''>
        <div ng-init='skillSwap = false;'id='deskSkillExp'class='col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1'style=''>
            
            <div id='expSwap'class='col-md-12 col-lg-12'style=''>
                <div id=''class='col-md-6 col-lg-6 expSwapClass'style=''ng-click='skillSwap = false'ng-class='{highLightBlack: skillSwap == false}'>
                    Skills
                
                </div>
                <div id=''class='col-md-6 col-lg-6 expSwapClass'style=''ng-click='skillSwap = true'ng-class='{highLightBlack: skillSwap == true}'>
                  Experience
                
                </div>
            
            </div>

            <div ng-if='skillSwap == false'id='deskSkills'class='col-md-12 col-lg-12'style=''>
                <div ng-repeat='skill in skills' id=''class='col-md-6 col-lg-6  deskSkill'style=''>
                  <span class=' col-md-12 col-lg-12'><span class='expBarName col-md-4 col-lg-4'>{{skill.name}}</span></span>
                  <span class='expBarOut col-md-12 col-lg-12'>
                      <span class='expBarInner col-md-12 col-lg-12'style='width:{{skill.level}}%;'></span>


                  </span>
                  


                </div>
                
        
            </div>
            <div ng-if='skillSwap == true'id='deskExp'class='col-md-12 col-lg-12'style=''>

              <div id='deskExps'class='col-md-4 col-lg-4'style=''ng-repeat='work in workHist'>
                  <div id=''class='col-md-offset-1 col-lg-offset-1 col-md-10 col-lg-10 workOut'style=''>
                   
                      <div id='workName'class='col-md-12 col-lg-12'style=''>
                        {{work.name}}
                      
                      </div>

                      <div id='workPosition'class='col-md-12 col-lg-12'style=''>
                        {{work.position}}
                      
                      </div>
                      <div id='workDates'class='col-md-12 col-lg-12'style=''>
                        <div ng-if='work.present == true' id=''class='col-md-12 col-lg-12 workDate'style=''>
                         {{work.startDate}} - Present
                        
                        </div>
                        <div ng-if='work.present == false' id=''class='col-md-12 col-lg-12 workDate'style=''>
                        {{work.startDate}} - {{work.endDate}}
                        
                        </div>
                      
                      </div>
                      <div id='workResp'class='col-md-12 col-lg-12'style=''>
                        <div ng-repeat='respon in work.respon'id='workRespon'class='col-md-12 col-lg-12'style=''>
                          {{respon}}
                        
                        
                        </div>
                      
                      </div>

                  
                  </div>

                               
              
              </div>

        
        
            </div>


        
        </div>
        
     
     </div>
     <div id='deskFourthDiv'class='col-md-12 col-lg-12'style=''>
        <div id='deskProject'class='col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1'style=''>
          
           <div id=''class='col-md-2 col-lg-2 'style='padding:1%;'>
             <div id='deskProjectHead'class='col-md-12 col-lg-12'style=''>
              <div id='deskProjectHeader'class='col-md-12 col-lg-12'style=''>
              <h3>Projects</h3>
              
              </div>
        
            </div>
             <div ng-repeat='project in projects'id=''class='col-md-12 col-lg-12 projectMenu'style=''ng-click='changeSwap(project)'>
            {{project.name}}
            
            
            </div>
           
           </div>

           <div ng-init=''id='deskProjectContent'class='col-md-offset-1 col-lg-offset-1 col-md-8 col-lg-8'style=''>
                <div id=''class='col-md-12 col-lg-12 'style=''>
                    <div id='projectContentName'class='col-md-6 col-lg-6'style=''>
                    {{pro.name}}
                    
                    </div>
                    <a ng-href='{{pro.web}}'id='projectContentLink'class='col-md-6 col-lg-6'style=''>
                      <div id='projectContentLinkContent'class='col-md-12 col-lg-12'style=''>
                      Check It Out Here
                      
                      </div>
                    
                    </a>
                   
                    <div id='projectContentText'class='col-md-6 col-lg-6'style=''>

                      <div ng-repeat='desc in pro.descs'id=''class='col-md-12 col-lg-12 innerText'style=''>
                        <div id=''class='col-md-12 col-lg-12'style=''>
                           {{desc}}
                        
                        </div>
                        
                      
                      </div>
                     
                    </div>
                   <div id=''class='col-md-5 col-lg-5'style=''>
                     <div id='innerPic'class='col-md-12 col-lg-12'style='background:url({{pro.img}})no-repeat;background-size:100% 100%;'>
                      
                      
                      </div>
                   
                   </div>


                  
                </div>


           
           </div>

        
        
        </div>
     
     </div>
     <div id='deskFifthDiv'class='col-md-12 col-lg-12'style=''>
        <div id='deskContact'class='col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1'style=''>
            <div id='deskContactHeader'class='col-md-12 col-lg-12'style=''>
              <div id='headerText'class='col-md-2 col-lg-2'style=''>
                Let's team up
              
              </div>


            
            </div>
           <div id='deskContactContent'class='col-md-12 col-lg-12'style=''>
            <div id='salesPitch'class='col-md-8 col-lg-8'style=''>
              If you have any questions or want to team up on a project or even want to jam out on guitars, hit me up. 
            
            </div>
            <div id='salesLinks'class='col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2'style=''>
              <div ng-repeat='link in salesLinks'id='linked'class='col-md-7 col-lg-7'style=''>
                <a href="{{link.link}}"class='col-md-12 col-lg-12'>
                  

                  <div id='linkImg'class='col-md-3'style='background:url({{link.img}})no-repeat;background-size:contain;'>
                  
                
                </div>
                <div id=''class='col-md-8 col-lg-8'style=''>
                {{link.text}}
                
                </div>
                </a>
              
              
              </div>
              

            </div>
           
           </div>
        
        </div>
     
     </div>
  </div>

  <!-- MOBILE -->
  <div id='mobileMain'class='hidden-md hidden-lg'style=''>
    
    <div id='mobileFirst'class='col-xs-12 col-sm-12'style=''>
        <div id='pattern'class='col-xs-12 col-sm-12'style=''>
          <div id='logo'class='col-xs-12 col-sm-12'style=''>
          
          
          </div>
          <div id='name'class='col-xs-8 col-sm-8'style=''>
          
          
          </div>
          <div id='position'class='col-xs-12 col-sm-12'style=''>
          
          
          </div>

        
        </div>
    
    </div>



    <div id='mobileSecond'class='col-xs-12 col-sm-12'style=''>
      <div id='aboutTitle'class='col-xs-8 col-sm-8'style=''>
      About
      
      </div>
      
      <div id='aboutContent'class='col-xs-12 col-sm-12'style=''>
         <p>Solving problems using creative solutions is something I excel at.<br><br>

                  I am able to write in JavaScript, read CSS with ease, repair your computer with no hesitation, all while playing Eruption on one of my several guitars. <br><br>

                  I am also familiar with frameworks such as AngularJS, Ember, NodeJS, and Rails.

                  </p>
      
      </div>
      <div id='aboutPic'class='col-xs-6 col-sm-6'style=''>
      
      
      </div>
    
    </div>

    <div id='mobileThird'class='col-xs-12 col-sm-12'style=''ng-init='mobileSwap = true'>
        <div id='swapSelection'class='col-xs-12 col-sm-12'style=''>
              <div id=''class='col-xs-6'style=''ng-class='{highLightBlack:false == mobileSwap}'ng-click='mobileSwap = false'>
                Skills
              
              </div>
              <div id=''class='col-xs-6'style=''ng-class='{highLightBlack:true == mobileSwap}'ng-click='mobileSwap = true'>
                Exp.
              
              </div>
        
        </div>

        <div ng-if='mobileSwap == false' id='mobileSkills'class='col-xs-12 col-sm-12'style=''>
          <div ng-repeat='skill in skills'id=''class='col-xs-12 skiller'style=''>
            <div id=''class='col-xs-8 name'style=''>
              {{skill.name}}
            
            </div>
            <div id=''class='col-xs-12 skillBar'style=''>
              <div id=''class='col-xs-12 bar'style='width:{{skill.level}}%'>
              
              
              </div>
            
            </div>
          
          
          </div>
        
        </div>


        <div ng-if='mobileSwap == true' id='mobileExp'class='col-xs-12 col-sm-12'style=''>
          <div ng-repeat='work in workHist'id=''class='working col-xs-12'style=''>
            <div id=''class='col-xs-12 workTop'style=''>
              <div id=''class='col-xs-12 workName'style=''>
              {{work.name}}
              
              </div>
              <div ng-if='work.present == true'id=''class='workDate col-xs-12 col-sm-12'style=''>
              <span class='col-xs-6'>{{work.startDate}}</span> 
              <span class='col-xs-6'> -    Present</span>
              
              </div>
              <div ng-if='work.present == false'id=''class='workDate col-xs-12 col-sm-12'style=''>
              <span class='col-xs-6'>{{work.startDate}} -</span> 
              <span class='col-xs-6'> {{work.endDate}}</span>
              
              </div>
            
            </div>
            <div id=''class='col-xs-12 col-sm-12 workMid'style=''>
              <div id=''class='workPosition col-xs-12 col-sm-12'style=''>
              {{work.position}}
              
              </div>
              <div id=''class='workRespon col-xs-12 col-sm-12'style=''>
                <div ng-repeat='resp in work.respon'id=''class='col-xs-12 col-sm-12 repond'style=''>
                  {{resp}}
                
                
                </div>
              
              </div>
            
            </div>
          
          
          </div>
        
        </div>
    
    </div>

    <div id='mobileFourth'class='col-xs-12 col-sm-12'style=''>
      <div id='title'class='col-xs-8 col-sm-8'style=''>
        Projects
      
      </div>
      <div id='menu'class='col-xs-12 col-sm-12'style=''>
        <div ng-repeat='project in projects'id=''class='col-xs-6 projectMenu'style='' ng-click='changeSwap(project)'ng-class='{highLightWhite:$index == projectSwap}'>
          {{project.name}}
        
        
        </div>
      
      </div>

      <div id='content'class='col-xs-12 col-sm-12'style=''>
        <div id='name'class='col-xs-12 col-sm-12'style=''>
          {{pro.name}}
        
        </div>
        <div id='text'class='col-xs-12 col-sm-12'style=''>
        <div ng-repeat='des in pro.descs 'id=''class='col-xs-12 decs'style=''>
          {{des}}
        
        
        </div>
        
        </div>
        <div id='image'class='col-xs-12 col-sm-12'style=''>
          <div id=''class='col-xs-12 col-sm-12 img'style='background:url({{pro.img}})no-repeat;background-size:100%;'>
          
          
          </div>

          <div id='link'class='col-xs-12 col-sm-12'style=''>
            <a href='{{pro.link}}'>Check it out </a>  
          
          </div>
        
        </div>


        
      </div>
    </div>

    <div id='mobileFifth'class='col-xs-12 col-sm-12'style=''>
      <div id='title'class='col-xs-8 col-sm-8'style=''>
        Contact 
      
      </div>

      <div id='text'class='col-xs-12 col-sm-12'style=''>
      If you have any questions or want to team up for a project, or even just jam. You can contact me through: </div>


      <div id='contact'class='col-xs-12 col-sm-12'style=''>
        <div ng-repeat='saleLink in salesLinks'id=''class='sale col-xs-12 col-sm-12'style=''>
          <a ng-href='{{saleLink.link}}'class='col-xs-12 col-sm-12'style=''>

            <div id=''class='col-xs-4 col-sm-4 linkImage'style='background:url({{saleLink.img}})no-repeat;background-size:100%'>
          
          
          </div>
          <div id=''class='col-xs-8 col-sm-8 linkText'style=''>
            {{saleLink.text}}
          
          </div>

          </a>
        
        
        
        </div>

      
      </div>
      
      </div>
    
    </div>

  
  </div>


</div>